build/** linguist-vendored
dist/** linguist-vendored
Output/** linguist-vendored

*.iss  linguist-language=Inno Setup     
*.spec linguist-language=Python         

*.exe  linguist-generated
*.dll  linguist-generated
*.pyd  linguist-generated
